# Node modules
node_modules
npm-debug.log
yarn-error.log

# Environment files
.env
*.env

# Logs
logs
*.log

# Local SQLite DB files
data/*.sqlite

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Tests / tooling
coverage
.vscode
